<head>
  <meta name='viewport' content='width=device-width initial-scale=1.0'>
  <link rel="stylesheet" href="worlds.css">
</head>

<h1>The Machine</h1>
<p>
At the heart of the universe, there is a machine which is connected to every living thing.
The machine is larger than a solar system and contains many millions of circuits, gears, relays, brains, and other logical devices.
The machine is powered by people who have an inner world which they live in, and in their dreams they help to build the machine.
In return the machine provides energy for them to live their inner lives.
</p>

<p>
4,395,389,489,594 years after the creation of the machine, a strange apathy starts to take hold of those who help build it.
The machine begins to decay and rot. Large regions of the machine become corrupted and strange creatures begin to be seen crawling about it.
The machine is dying because those who maintain it are becoming sick.
</p>

<p>
The machine contains various types of thinking machines from all across every possible universe. There are biological brains, vast computer networks,
huge clockwork automata, and advanced technologies that surpass human knowledge. Though all the inhabitants work for the benefit of the machine, they
do not always agree and there are numerous small kingdoms that have carved out their own jealously protected regions.
</p>

<h2>Forest of forgotten ruins</h2>
<p>
The forest of Ao-na-ki is rumored to have been haunted for millennia. Inhabitants from surrounding regions venture there only rarely, to leave
offerings to the spirits of the forest. A cabal of blind, mute priests live in the forest, accepting offerings and maintaining the thinking machines
found there. The machines were left there by a highly advanced race from a universe much older than our own. They appear to the uninitiated as ruins
made of strange black crystal, but are in reality a form of superdense computational matter. The black crystal pulls heat and other wasted energy from
the air around it, so the forest is constantly chilly and gloomy. The structures exude water vapor as a byproduct of their computational efforts and
so are often shrouded in mist. The black crystal is self-repairing but the way in which new programs are loaded into its memory is so complex that it
appears to outsiders to be a form of mystic ritual. Even the priests do not know the effect or meaning of their ritual, for they have been passed down
unchanged for hundreds of generations and the origins are now lost in time.
</p>

<h2>Primordial Sea</h2>
<p>
There is a region of the machine where a vast ocean exists, teeming richly with life. The ocean is not water but a sort of amniotic fluid exuded
and consumed by the trillions of organisms that live within it. On and within this ocean swim massive creatures that are ecosystems unto themselves,
too large to feed themselves, who instead rely on the swarms of smaller creatures around them to hunt their prey for them. In return, they offer the
output of their enormous and ancient brains as an oracle to guide their smaller symbiotes. From this ecosystem comes the Hunter caste, a tribe of
feral humanoids with chitinous skin, who wield primitive weapons on their eternal hunt for prey.
</p>

<h2>Citadel of Industry and Progress</h2>
<p>
A totalitarian collective whose entire population of billions lives inside a single massive superstructure. The peasant underclass toils in constant
labor, strip-mining the surrounding landscape for coal and wood to use as fuel in the Citadel’s massive furnaces. Their political elite build
automata exoskeletons for themselves, disdaining the use of their bodies and eventually atrophying their muscles to the point where they can no
longer move of their own volition.
</p>

<h2>Ghost ships</h2>
<p>
The ghosts have no fixed home, being mostly nomads, but many of their kind often congregate in large mobile communities. These communities take
the form of enormous vehicles, the size of an aircraft carrier or a skyscraper, in which a few hundred to a thousand ghosts live. They provide lone
ghosts with a friendly place to stop and recuperate.
</p>
