<head>
  <meta name='viewport' content='width=device-width initial-scale=1.0'>

  <style>
    body {
      background-color:#222;
      text-align: center;
      padding: 30px;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
    .world {
      float:left;
      width: 240px;
      height: 160px;
      display: table;
      text-align: center;
      padding: 30px;
    }
    .world:hover {
      opacity: 0.8;
    }
    .world img {
      border-radius: 70px / 50px;
      position: absolute;
      z-index: -1;
    }
    .world-title {
      font-size: 32px;
      display: table-cell;
      vertical-align: middle;
      color: #333;
    }
  </style>
</head>

<body>

  <div class='container'>
    <a class='world' href="aomo/index.html">
      <img src='images/aomo.png'>
      <div class='world-title'>&nbsp;</div>
    </a>

    <a class='world' href='azimech.html'>
      <img src='images/azimech.png'>
      <div class='world-title'>&nbsp;</div>
    </a>

    <a class='world' href='beyond-the-sky.html'>
      <img src='images/beyond-the-sky.png'>
      <div class='world-title'>&nbsp;</div>
    </a>

    <a class='world' href='hexagon.html'>
      <img src='images/hexagon.png'>
      <div class='world-title'>&nbsp;</div>
    </a>
  </div>

</body>
