<head>
  <script src='http://code.createjs.com/easeljs-0.6.1.min.js'></script>
  <script src="http://code.createjs.com/tweenjs-0.5.0.min.js"></script>
  <script src="http://code.createjs.com/soundjs-0.5.0.min.js"></script>
  <meta name='viewport' content='width=device-width initial-scale=1.0'>
  <title>bloop</title>
  <script>
  /*
  @licstart  The following is the entire license notice for the
  JavaScript code in this page.

  Copyright (C) 2015  Josh Stewart

  The JavaScript code in this page is free software: you can
  redistribute it and/or modify it under the terms of the GNU
  General Public License (GNU GPL) as published by the Free Software
  Foundation, either version 3 of the License, or (at your option)
  any later version.  The code is distributed WITHOUT ANY WARRANTY;
  without even the implied warranty of MERCHANTABILITY or FITNESS
  FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.

  As additional permission under GNU GPL version 3 section 7, you
  may distribute non-source (e.g., minimized or compacted) forms of
  that code without the copy of the GNU GPL normally required by
  section 4, provided you include this license notice and a URL
  through which recipients can access the Corresponding Source.


  @licend  The above is the entire license notice
  for the JavaScript code in this page.
  */
  </script>
</head>
<style>
body { background-color: #111144; margin: 0;}
</style>
<canvas id="theCanvas">
</canvas>

<script>
  window.onresize = function() {
    var canvas = document.getElementById('theCanvas');
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
  };
  document.body.style.overflow = 'hidden';
  window.onresize();

  var stage = new createjs.Stage("theCanvas");
  createjs.Ticker.setFPS(30);
  createjs.Ticker.addListener(stage);
  createjs.Sound.registerSound({id:"bloop", src:"https://s3-us-west-2.amazonaws.com/extropic-engine/bloop.mp3"});
  createjs.Sound.addEventListener("fileload", function() {
    createjs.Sound.play("bloop", createjs.Sound.INTERRUPT_ANY, 0, 0, -1, 1, 0);
  });

  var shapecount = 0;

  function circpop(shape) {
    var spawnChance = Math.random() * 100;
    if (spawnChance < 20 && shapecount < 30) {
      spawn(shape);
    }
    var radius = Math.random() * 5;
    var x = Math.floor(Math.random() * stage.canvas.width);
    var y = Math.floor(Math.random() * stage.canvas.height);
    var time = (Math.random() * 6000) + 5000;

    var deleteChance = Math.random() * 100;
    if (deleteChance < 20 && shapecount > 1) {
      createjs.Tween.get(shape).to({scaleX:0, scaleY:0, x:x, y:y}, time).call(function() {
        stage.removeChild(shape);
        shapecount--;
      });
    } else {
      createjs.Tween.get(shape).to({scaleX:radius, scaleY:radius, x:x, y:y}, time).call(circpop, [shape], this);
    }
  }

  function spawn(parent) {
    //var red = Math.floor(Math.random() * 255);
    var blue = Math.floor(Math.random() * 255);
    //var green = Math.floor(Math.random() * 255);
    var red = 0;
    var green = 0;
    var alpha = Math.random() * 1;
    var thickness = Math.floor(Math.random() * 10) + 1;
    var x = Math.floor(Math.random() * stage.canvas.width);
    var y = Math.floor(Math.random() * stage.canvas.height);

    var shape = new createjs.Shape();
    shape.graphics.setStrokeStyle(thickness).beginStroke('rgba(' + red + ', ' + green + ', ' + blue + ', ' + alpha + ')').drawCircle(0,0,50);
    shape.x = x
    shape.y = y;
    shape.scaleX = shape.scaleY = 0;
    stage.addChild(shape);
    stage.update();
    shapecount++;
    circpop(shape);
  }

  spawn();
  spawn();
  spawn();
  spawn();
  spawn();

</script>
