<head>
  <meta name='viewport' content='width=device-width initial-scale=1.0'>
  <script>
  /*
  @licstart  The following is the entire license notice for the
  JavaScript code in this page.

  Copyright (C) 2015  Josh Stewart

  The JavaScript code in this page is free software: you can
  redistribute it and/or modify it under the terms of the GNU
  General Public License (GNU GPL) as published by the Free Software
  Foundation, either version 3 of the License, or (at your option)
  any later version.  The code is distributed WITHOUT ANY WARRANTY;
  without even the implied warranty of MERCHANTABILITY or FITNESS
  FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.

  As additional permission under GNU GPL version 3 section 7, you
  may distribute non-source (e.g., minimized or compacted) forms of
  that code without the copy of the GNU GPL normally required by
  section 4, provided you include this license notice and a URL
  through which recipients can access the Corresponding Source.


  @licend  The above is the entire license notice
  for the JavaScript code in this page.
  */
  </script>
  <title>Game Idea Generator</title>
</head>

<center>
  <br>
  <br>
  <div id="story"></div>
  <br>
  <br>
  <button onclick="newstory();">Generate a new story.</button>
  <br>
  <br>
  <p>Submit adjectives, places, topics, characters, or goals to <a href="mailto:josh@extropicstudios.com">josh@extropicstudios.com</a>.</p>

  <br>
  <br>
</center>

<script>
var adjectives = [
  "A sad",
  "A satirical",
  "An upbeat",
  "A gritty",
  "An adorable",
  "A cute",
  "An elegant",
  "A glamorous",
  "An angry",
  "A bewildered",
  "A careful",
  "A clever",
  "An important",
  "An odd",
  "A quirky",
  "A clumsy",
  "A fierce",
  "A grumpy",
  "A mysterious",
  "An obnoxious",
  "A scary",
  "An uptight",
  "A brave",
  "A calm",
  "A delightful",
  "An eager",
  "A faithful",
  "A gentle",
  "A happy",
  "A jolly",
  "A lively",
  "A nice",
  "An obedient",
  "A proud",
  "A witty",
  "A scrawny",
  "A noisy",
  "A raspy",
  "A whispering",
  "An ancient",
  "A hurried",
  "A quick-witted",
  "A young",
  "A bitter",
  "A sweet",
  "A sour",
  "A greasy",
  "A juicy",
  "A prickly",
  "A rotten",
  "A salty",
  "A strong",
  "A useless",
  "A tasteless",
  "A weak",
  "A dirty",
  "A dry",
  "A filthy",
  "A scandalous",
  "A fluffy",
  "A hot",
  "A sexy",
  "An absurd",
  "An aberrant",
  "An abhorrent",
  "A saucy",
  "A chivalrous",
  "A debonair",
  "A complex",
  "A simple",
  "An enthusiastic",
  // Contributed by Jeff Meyerson
  "A scented",
  "A carbuncular",
  "An elusive",
  "A stratified",
  "A lateral",
  "A circular",
  "A postprandial",
  "An interrogative",
  "A destabilized",
  "A plain",
  "A flexible",
  "A prescient",
  "An omnipresent",
  "An interoperable",
  "An interlocking",
  "An independent",
  "A logical",
  "A limbic",
  "An incendiary",
  "A herniated",
  "A splendid",
  "A minted",
  "An insipid",
  "An undulating",
  "A hiatal",
  "A bustling",
  "A rusted",
  "A rooted",
  "A rutabaga-like",
  "A vehicular",
  "A hexagonal"
];
var places = [
  "in Egypt",
  "during The Middle Ages",
  "in deep space",
  "in a desert",
  "in a forest",
  "in a jungle",
  "in a rainforest",
  "in your parents' house",
  "in a metropolis",
  "on a boat on the ocean",
  "under the ocean",
  "in your bedroom",
  "in a coffee shop",
  "in Silicon Valley",
  "in New York City",
  "during the Jurassic Period",
  "on Mars",
  "on Venus",
  "on the Moon",
  "in Norway",
  "in Africa",
  "in Europe",
  "in Britain",
  "in Ireland",
  "in Russia",
  "in Soviet Russia",
  "in Japan",
  "in China",
  "in North Korea",
  "in South Korea",
  "in India during the 1700s",
  "in India",
  "on Alpha Centauri",
  "in Singapore",
  "in Australia",
  "in Mesoamerica",
  "in Antartica",
  "in Canada",
  "in Texas",
  "in Ancient Greece",
  "in Ancient Rome",
  "in Versailles",
  "in a mad scientist's lair",
  "in Narnia",
  "on Mt. Everest",
  "in the Hundred Acre Woods",
  // Contributed by Jeff Meyerson
  "on the Mopac Expressway",
  "at the Iron Works",
  "at the In-N-Out Burger",
  "on io9.com",
  "at your orthodontist's office",
  "at The Container Store",
  "in the Garden of Eden",
  "in a public restroom",
  "on the Hike and Bike Trail",
  "on top of the Space Needle",
  "on the Golden Gate Bridge",
  "at Applebees",
  "at the Bank of America next to the Starbucks",
  "outside",
  "inside",
  "in the long hallway that connects the airport and the parking garage",
  "in the bloodstream",
  "in a deserted office building",
  "on a seaside terrace",
  "on a savannah",
  "in the tropics",
  "in an arabic bazaar",
  "at a steam-punk themed restaurant"
];
var topics = [
  "love",
  "war",
  "tennis",
  "misanthropy",
  "art",
  "science",
  "power dynamics",
  "feminism",
  "murder",
  "juggalos",
  "tabletop wargaming",
  "gastronomy",
  "ice fishing",
  "barrel-making",
  "knife fights",
  "arson",
  "banjos",
  "broadcast television",
  "taxi drivers",
  "music",
  "life insurance",
  "sushi",
  "the afterlife",
  "the 80s",
  "the 90s",
  "the 70s",
  "the 60s",
  "the 20s",
  "dancing",
  "dreams",
  "virtual reality",
  "reality",
  "honor",
  "respect",
  "justice",
  "nature",
  "capitalism",
  "freedom",
  "imprisonment",
  "redemption",
  "bravery",
  "cowardice",
  "addiction",
  "vampires",
  "brainwashing",
  "anxiety",
  "revenge",
  "oppression",
  "being human",
  "time travel",
  "punk culture",
  // Contributed by Jeff Meyerson
  "the placebo effect",
  "Simon Says",
  "bowling without pins and without an alley",
  "the periodic table",
  "ancient Roman history",
  "squares which are not rectangles",
  "node.js",
  "Gorilla Glass",
  "Blue Man Group",
  "Big Peach",
  "The Red Hot Chili Peppers",
  "Fun Dip",
  "hollandaise sauce",
  "menstruation",
  "aviation",
  "teleportation",
  "radiation",
  "meningitis"
];
var characters = [
  "detective",
  "cat-person",
  "time traveler",
  "business person",
  "scam artist",
  "gourmand",
  "professional gamer",
  "rapper",
  "pianist",
  "redneck",
  "hippie",
  "circus performer",
  "gunslinger",
  "bounty hunter",
  "explorer",
  "lawyer",
  "ordinary person",
  "talking toy",
  "Nazi soldier",
  "tribal warrior",
  "carpenter",
  "super-intelligent child",
  "superhero",
  "fashion designer",
  "interior decorator",
  "princess",
  "beach bum",
  "peasant",
  "barista",
  "ice fisher",
  "captain of a submarine",
  "bicycle thief",
  "android",
  "cyborg",
  "robot",
  "seducer",
  "classical composer",
  "child",
  "samurai",
  "ghost",
  "mutant",
  "comedian",
  "dancer",
  "king",
  "queen",
  "clockmaker",
  "teen",
  "beat cop",
  "hacker",
  "vigilante",
  "secret agent",
  "vampire",
  "addict",
  "magical girl",
  // Contributed by Jeff Meyerson
  "politician",
  "temptress",
  "Gordon Novak", // http://www.cs.utexas.edu/~novak/novakb.jpg
  "Paul Rudd",
  "Jennifer Lopez",
  "Prime Minister Lupodaprak",
  "glasnost expert",
  "terrorist",
  "Edward Snowden",
  "spy"
  //"the entire American Vietnamese population",
  //"the Spice Girls",
  //"your algebra teacher",
];
var goals = [
  "find true love",
  "destroy the ring of power",
  "save the world",
  "create a magnum opus, or die trying",
  "find meaning in life",
  "defeat the aliens invading Earth",
  "protect the forest spirits from industrialists",
  "rescue the President from terrorists",
  "impress a guy/girl with feats of heroism",
  "uncover the mystery before it's too late",
  "escape the loan sharks you owe money to",
  "outsmart the Mafia",
  "repair an abandoned spaceship and escape the planet",
  "rebel against your superiors at any cost",
  "stop a jewel thief",
  "get home in time for Christmas. Hijinks ensue",
  "stop a tsunami from destroying your home",
  "rescue a loved one from imprisonment",
  "discover your family's secret past",
  "deal with your pressing psychological issues",
  "fake their own death",
  "deliver a valuable package to a mysterious agent",
  "decide the fate of an innocent man",
  "decipher a message left by a ghost",
  "get a job so you can move out of your parents' house",
  "survive on the mean streets of LA",
  "assassinate the President",
  "solve the mystery of a serial killer",
  "prove yourself despite the warnings of your parents",
  "transform into a magical girl",
  // Contributed by Jeff Meyerson
  "sell radishes at a high profit margin",
  "Learn Java in 30 Days",
  "fill all the potholes in New York",
  "prepare a calendar event for every minute in tomorrow",
  "find the tallest sand dune in the Sahara desert",
  "implement binary search",
  "discover if being a self-hating Jew makes you anti semitic"
];
var wheres = [
  "set",
  "located",
  "that takes place"
];
var stories = [
  "story",
  "game",
  "tale",
  "adventure",
  "epic poem",
  "TV series"
];

var newstory = function() {
  var adjective1 = adjectives[Math.floor(Math.random() * adjectives.length)];
  var place = places[Math.floor(Math.random() * places.length)];
  var topic1 = topics[Math.floor(Math.random() * topics.length)];
  var topic2 = topics[Math.floor(Math.random() * topics.length)];
  var adjective2 = adjectives[Math.floor(Math.random() * adjectives.length)];
  var character = characters[Math.floor(Math.random() * characters.length)];
  var goal = goals[Math.floor(Math.random() * goals.length)];
  var where = wheres[Math.floor(Math.random() * wheres.length)];
  var story = stories[Math.floor(Math.random() * stories.length)];
  document.getElementById("story").innerHTML = adjective1 + " " + story + " " + where + " " + place + " about " + topic1 + " and " + topic2 + ". You play as " + adjective2.toLowerCase() + " " + character + " who must " + goal + "."
}

newstory();

</script>
