<head>
  <script src="/jquery.js"></script>
  <script src="/js/jquery.color-2.1.2.min.js"></script>
  <script>
  /*
  @licstart  The following is the entire license notice for the
  JavaScript code in this page.

  Copyright (C) 2015  Josh Stewart

  The JavaScript code in this page is free software: you can
  redistribute it and/or modify it under the terms of the GNU
  General Public License (GNU GPL) as published by the Free Software
  Foundation, either version 3 of the License, or (at your option)
  any later version.  The code is distributed WITHOUT ANY WARRANTY;
  without even the implied warranty of MERCHANTABILITY or FITNESS
  FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.

  As additional permission under GNU GPL version 3 section 7, you
  may distribute non-source (e.g., minimized or compacted) forms of
  that code without the copy of the GNU GPL normally required by
  section 4, provided you include this license notice and a URL
  through which recipients can access the Corresponding Source.


  @licend  The above is the entire license notice
  for the JavaScript code in this page.
  */
  </script>
  <title>Startup Generator</title>
</head>

<style>
body {
  background-color: #eeccdd;
  font-size: 5em;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
}
.container {
  width:80%;
  margin:auto;
}
</style>

<div class='container'>
<div id="pitch">So, tell me about your startup idea.</div>
<br>
<div style="text-align: right;">
  <span id="first">Well, it's like <span id="startup1"></span></span>
  <span id="second">crossed with <span id="startup2"></span>...</span>
  <span id="third">but for <span id="target"></span>.</span>
</div>
<br>
<center id="last" style="font-size:0.2em">
<button onclick="newIdea();">Pitch a new idea</button>
<br>
<br>
Send startup ideas to <a href='mailto:josh@extropicstudios.com'>josh@extropicstudios.com</a> and they will be incorporated in the generator.
</center>

</div>

<script>
var startups = [
  "Uber",
  "Lyft",
  "Google",
  "Paypal",
  "Foursquare",
  "eBay",
  "Pinterest",
  "Facebook",
  "Twitter",
  "Tumblr",
  "Kickstarter",
  "Flickr",
  "LinkedIn",
  "YouTube",
  "bit.ly",
  "Dropbox",
  "Instagram",
  "Spotify",
  "GitHub",
  "Snapchat",
  "Bandcamp",
  "SoundCloud",
  "Klout",
  "Dwolla",
  "Meetup",
  "Vine",
  "Pastebin",
  "Square Cash"
];
var targets = [
  "babies",
  "adults",
  "teens",
  "dogs",
  "cats",
  "parakeets",
  "ferrets",
  "normal human beings",
  "startups",
  "cat / human hybrids",
  "time travelers",
  "professional gamers",
  "interior decorators",
  "baristas",
  "ice fishers",
  "robots",
  "comedians",
  "royalty",
  "magical girls",
  "politicians",
  "terrorists",
  "juggalos",
  "firemen",
  "horse trainers",
  "hamsters",
  "liberal arts majors",
  "Joe Biden"
];

fadeTime = 600;

var newIdea = function() {
  $('#pitch').css('color', '#eeccdd');
  $('#first').css('color', '#eeccdd');
  $('#second').css('color', '#eeccdd');
  $('#third').css('color', '#eeccdd');
  $('#last').hide();
  var startup1 = startups[Math.floor(Math.random() * startups.length)];
  var startup2 = startups[Math.floor(Math.random() * startups.length)];
  var target = targets[Math.floor(Math.random() * targets.length)];
  $('#startup1').html(startup1);
  $('#startup2').html(startup2);
  $('#target').html(target);
  $('#pitch').animate({ color: 'black' }, fadeTime, 'swing', function() {
    $('#first').animate({ color: 'black' }, fadeTime, 'swing', function() {
      $('#second').animate({ color: 'black' }, fadeTime, 'swing', function() {
        $('#third').animate({ color: 'black' }, fadeTime, 'swing', function() {
          $('#last').fadeIn(fadeTime);
        });
      });
    });
  });
}

newIdea();

</script>
