<style>
nav {
  text-align: center;
}
h2 {
  margin: auto;
  text-align: center;
  border-bottom: 2px dotted blue;
  width: 60%;
}
</style>

<nav>
  <a href="#A">A</a> -
  <a href="#B">B</a> -
  <a href="#C">C</a> -
  <a href="#D">D</a> -
  <a href="#E">E</a> -
  <a href="#F">F</a> -
  <a href="#G">G</a> -
  <a href="#H">H</a> -
  <a href="#I">I</a> -
  <a href="#J">J</a> -
  <a href="#K">K</a> -
  <a href="#L">L</a> -
  <a href="#M">M</a> -
  <a href="#N">N</a> -
  <a href="#O">O</a> -
  <a href="#P">P</a> -
  <a href="#Q">Q</a> -
  <a href="#R">R</a> -
  <a href="#S">S</a> -
  <a href="#T">T</a> -
  <a href="#U">U</a> -
  <a href="#V">V</a> -
  <a href="#W">W</a> -
  <a href="#X">X</a> -
  <a href="#Y">Y</a> -
  <a href="#Z">Z</a>
</nav>

<h2 id="A">A</h2>

<h3 id="Aomo">Aomo</h3>
<p>
  The world of Aomo is an infinite flat canvas stretching out in all directions.
  The sky above is dark and void of stars, while the earth below is dark and
  deep. With no sun, the world of Aomo is by nature extremely cold, and most
  of the known region is frozen glaciers and mountainscapes. Civilizations that
  survive in Aomo must find some way of dealing with the cold and perpetual
  darkness, whether it be the sun towers of the
  <a href="#Shaethmal">Shaethmal</a>, the underground cities of the
  <a href="#Naminoke">Naminoke</a>, or the sheer hardiness of the
  <a href="#Anbok">Anbok</a>.
</p>

<h3 id="Automata">Automata</h3>
<p>
  Automata are robotic, semi-sentient creatures created by the Naminoke. They
  are powered by a variety of different sources, with the most common type being
  mechanical robots powered by clockwork gears, wind-up pendulums, and the like.
  More advanced models use electrical batteries, while some experimental
  automata use anything from geothermal heat to magical energy. The intelligence
  of an automaton can range from insect-like menial work robots to
  near-omniscience in some of the powerful magically-enhanced models.
</p>

<h2 id="B">B</h2>

<h2 id="C">C</h2>

<h2 id="D">D</h2>

<h3 id="TheDiscarded">The Discarded</h3>
<p>
  More of a form of robot philosophy than a true organization, The Discarded
  believe that the Naminoke seek to oppress robotkind by refusing to allow them
  self-awareness. They take their position as the discarded refuse of the
  Naminoke with pride. Their appearance tends to be rusty and asymmetrical,
  looking as if they were cobbled out of junk. Despite this, The Discarded can
  call on a powerful military presence when needed, due to their large number of
  followers.
</p>

<h2 id="E">E</h2>

<h3 id="TheEarthGod">The Earth God</h3>
<p>
  The Earth God is not a true god in the sense of the word, but an extremely
  powerful automata who styles itself as such. The Earth God was born when an
  exiled Naminoke sorcerer tried to give an automaton human intelligence through
  forbidden magic. The experiment worked, and the automaton served as a faithful
  friend and servant to its creator for many years. Eventually, its creator died
  of natural causes, and the automaton was left to fend for itself. The
  automaton discovered that its magically-enhanced mind could be divided and
  transferred into the body of another automaton, and that body would then act
  as an extension of the original's own mind. Eventually, this automaton
  expanded its intellect to a hive-mind consisting of thousands of automatons,
  all of whom lived in a massive robot city deep in the Nelowehmu. But every
  time the automaton split his intellect, he lost a tiny bit of his sanity. By
  this point, the poor creature is almost completely deranged, and has begun to
  believe itself to be some sort of divine power. The Naminoke, as the most
  powerful entity in the underground world, are the Earth God's primary enemy,
  and it is waiting to build its power until it is strong enough to exterminate
  them.
</p>

<h2 id="F">F</h2>

<h3 id="FollowersOfTheEarthGod">Followers of the Earth God</h3>
<p>
  One of the largest groups of Automata. They believe in the ideals of purity
  and nature, although not in the way humans would. Their idea of purity
  revolves around reducing everything to its simplest elemental form. Automata,
  as simple constructions made of raw elements like iron, are naturally more
  "pure" than biologically complex humans. Geometric crystals such as minerals
  hold a special significance to them.
</p>

<h2 id="G">G</h2>

<h2 id="H">H</h2>

<h2 id="I">I</h2>

<h2 id="J">J</h2>

<h2 id="K">K</h2>

<h2 id="L">L</h2>

<h2 id="M">M</h2>

<h2 id="N">N</h2>

<h3 id="Naminoke">Naminoke</h3>
<p>
  The Naminoke are bald and have smooth skin, which ranges from gray to pale
  white to brown. They have calm-looking ovoid eyes. Their skin is cold to the
  touch and durable, with the texture and hardness of marble. They live in
  elegant cities inside of massive caverns deep below Aomo's surface. They trade
  frequently with the surface dwellers and are renowned for the quality of their
  metal and stone goods. Visitors to their cities are welcomed, but only as
  trading partners, not as equals. The Naminoke avoid getting involved in the
  politics of the surface-dwellers, as they are often too busy with their own
  conflicts with other underground races. Their society is extremely advanced
  technologically, though they shun most magic and religion. They construct
  massive automatons who excavate their tunnels, build their buildings, and
  fight their wars. Their society is logical and organized, separated by
  profession into various guilds. There is no bureaucratic government, with the
  guilds instead working together in harmony to rule themselves. On occasion, a
  Naminoke rebels from society to practice magic or some other forbidden acts.
  Such outcasts are not actively persecuted, but are cut off from their
  relations and forbidden from entering Naminoke cities.
</p>

<h3 id="Nelowehmu">Nelowehmu</h3>
<p>
  The Nelowehmu is the Naminoke name for an ancient warren of tunnels that spans
  miles beneath the surface of Aomo. They were excavated long ago by the
  Naminoke, and then abandoned for one reason or another. Eventually, other
  subsurface creatures inhabited them and claimed them as their own. The tunnels
  contain artifacts from the earlier years of the Naminoke civilization, when
  their focus was more on magic and mysticism than on technology. Many of these
  artifacts are powerful and dangerous, and some have corrupted the new
  inhabitants of the Nelowehmu, turning them vicious and hostile. The tunnels
  are also home to the Naminoke's early attempts at building automata, which
  were discarded and wandered into the tunnels, still trying to fulfill their
  original purpose.
</p>

<h2 id="O">O</h2>

<h2 id="P">P</h2>

<h2 id="Q">Q</h2>

<h2 id="R">R</h2>

<h2 id="S">S</h2>

<h3 id="Shaethmal">Shaethmal</h3>
<p>
  The Shaethmal are an organization of wizards who have charged themselves
  with protecting the human kingdoms from the natural cold and darkness of Aomo.
  For millenia, they have constructed massive towers across the land, each
  nearly a mile high, crowned with a perpetual blazing ball of fire that
  provides heat and light to the surrounding countryside. The Shaethmal care
  little for who controls the land around their towers, so long as they pay
  a yearly tithe and leave the Shaethmal to their own devices. The figurehead of
  the Shaethmal is the God of Fire, a personage which only the most ancient
  of the wizards have claimed to have seen. Practically speaking, a council of
  archmagi make all the decisions for the Shaethmal, including the most
  important decision of where to build new towers. Towers, as the most important
  strategic locations on the surface of Aomo, are critically important to the
  kingdoms who live beneath them, and so the decision making process is one
  fraught with politics, during which the Shaethmal extract as many promises and
  as much tribute as they can from whichever kingdom will pay them.
</p>

<h2 id="T">T</h2>

<h2 id="U">U</h2>

<h2 id="V">V</h2>

<h2 id="W">W</h2>

<h2 id="X">X</h2>

<h2 id="Y">Y</h2>

<h2 id="Z">Z</h2>
