<head>
  <meta name='viewport' content='width=device-width initial-scale=1.0'>
  <link rel="stylesheet" href="../worlds.css">
</head>

<nav>
  <ul>
    <li>Index</li>
    <li><a href="encyclopedia.html">Encyclopedia</a></li>
    <li>Stories</li>
  </ul>
</nav>

<h2>Factions</h2>

<ul>
  <li><a href="encyclopedia.html#TheDiscarded">The Discarded</a></li>
  <li><a href="encyclopedia.html#FollowersOfTheEarthGod">Followers Of The Earth God</a></li>
  <li><a href="encyclopedia.html#Naminoke">Naminoke</a></li>
</ul>

<h2>Characters</h2>

<ul>
  <li><a href="encyclopedia.html#TheEarthGod">The Earth God</a></li>
</ul>

<h2>Locations</h2>

<ul>
  <li><a href="encyclopedia.html#Aomo">Aomo - The Infinite Plain</a></li>
  <li><a href="encyclopedia.html#Nelowehmu">Nelowehmu - The Abandoned Tunnels</a></li>
</ul>
