<head>
  <title>Magic, Form, and Fantasy</title>
</head>
<a href='index.html'>
  <div style="text-align: center">

    <iframe style="border: 0; width: 400px; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=585891492/size=small/bgcol=ffffff/linkcol=333333/artwork=none/transparent=true/" seamless><a href="http://windowsninetyfivesecondedition.bandcamp.com/album/magic-form-and-fantasy">Magic, Form, and Fantasy by WIN95SE</a></iframe>

    <br><br>

    <img style="width: 100%" src='https://s3-us-west-2.amazonaws.com/extropic-studios/art/001.png'/>
  </div>
</a>
