<style>
body {
  background-color: #2c2c2c;
  text-align: center;
}
img {
  width: auto;
  vertical-align: middle;
  margin: auto;
  padding: 1rem;
}
</style>

<div>
  <a href='MOONWEEL.png'><img src="MOONWEEL.png" /></a>
</div>
