<style>
body {
  background-color: #1c1c1c;
}
img {
  width: 500px;
  vertical-align: middle;
  padding: 1rem;
}
</style>

<div>
  <a href='mother/10.png'><img src="mother/10.png" alt="the computer as a temple"/></a>
  <a href='mother/9.jpg'><img src="mother/9.jpg" alt="the computer as architecture"/></a>
  <a href='mother/3.jpg'><img src="mother/3.jpg" alt="the computer as a shell"/></a>
  <a href='mother/1.jpg'><img src="mother/1.jpg" alt="the computer as community"/></a>
  <a href='mother/11.jpg'><img src="mother/11.jpg" alt="the computer as a monolith"/></a>
  <a href='mother/5.jpg'><img src="mother/5.jpg"/></a>
  <a href='mother/13.png'><img src="mother/13.png" alt="mother"/></a>
  <a href='mother/14.png'><img src="mother/14.png" alt="mother"/></a>
  <a href='mother/15.png'><img src="mother/15.png" alt="mother"/></a>
  <a href='mother/16.png'><img src="mother/16.png" alt="mother"/></a>
  <a href='mother/17.png'><img src="mother/17.png" alt="mother"/></a>
  <a href='mother/18.png'><img src="mother/18.png" alt="mother"/></a>
  <a href='mother/8.jpg'><img src="mother/8.jpg"/></a>
  <a href='mother/19.jpg'><img src="mother/19.jpg"/></a>
  <a href='mother/20.jpg'><img src="mother/20.jpg"/></a>
</div>
