<style>
body {
  background-color: #2c2c2c;
  text-align: center;
}
img {
  width: auto;
  vertical-align: middle;
  margin: auto;
  padding: 1rem;
}
</style>

<div>
  <a href='SIGILS.png'><img src="SIGILS.png" /></a>
</div>
