<head>
  <title>ten thousand jewels</title>
</head>
<a href='index.html'>
  <div style="text-align: center">

    <iframe style="border: 0; width: 400px; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/track=2711971547/size=small/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/" seamless><a href="http://windowsninetyfivesecondedition.bandcamp.com/track/ten-thousand-jewels">ten thousand jewels by WIN95SE</a></iframe>

    <br><br>

    <img style="width: 100%" src='https://s3-us-west-2.amazonaws.com/extropic-studios/psyche/ten_thousand_jewels.png'/>
  </div>
</a>
