<style>
body {
  background-color: #1c1c1c;
  text-align: center;
  color: white;
}
img {
  width: auto;
  vertical-align: middle;
  margin: auto;
  padding: 1rem;
}
</style>

<div>
  <a href='VAPE0000.png'><img src="VAPE0000.png" /></a>
  <p>2nd simplest platonic solid, not generally representative of the universe</p>
</div>