<head>
  <meta name='viewport' content='width=device-width initial-scale=1.0'>
  <link rel='stylesheet' href='struct.css'>
  <title>SONY.style - minidisc</title>
</head>
<body>
  <div class='title'>aesthetic</div>
  <div class='text'>
    a future that was and never will be again<br>
    an exploration of the value of physical media<br>
  </div>
</body>
