@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

body {
  background-color: #f9f9f9;
  color: #111;
  font-weight: 200;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

.title {
  font-style: italic;

  font-size: 20px;
  position: relative;
}

.description {
  font-weight: 300;
}

.header.style {
  color: black;
  font-size: 36px;
}

.style .title {
  color: #444;
}

.style.description {
  font-style: italic;
  font-size: 0.8rem;
  color: #777;
  padding-left: 3rem;
}

.style a.title:hover {
  color: #000;
}

.opus .title {
  color: #800000;
  bottom: -5px;
  padding-left: 25px;
}

.opus .title:hover {
  color: #C00000;
}

.praxis .title {
  color: #008000;
  bottom: -7px;
  padding-left: 20px;
}

.journal-entry {
  padding-top: 10px;
}

/* clearfix hack */
.journal-entry:after {
  content:"";
  display:table;
  clear:both;
}

.journal-date {
  float: left;
  width: 30%;
  text-align: right;
  font-size: 18px;
}

.journal-title {
  float: left;
  width: 70%;
  color: #244C73;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.journal-text {
  clear:both;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

ul {
  padding-left: 15px;
}

ul.opus {
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
}

ul.opus > li {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

ul.style {
  width: 50%;
  text-align: right;
  margin-left: 5rem;
}

.style li {
  border-top: 1px solid #ddd;
}

li {

  list-style-type: none;
}

li a {
  color: #400040;
}

li a:hover {
  color: #800080;
}
