
<h1>23 May 2015</h1>

<p>
  Recently I dropped my Nexus 4 at a bus stop and broke the screen. I’ve had the
  phone for two years and was starting to feel like it was time for a change...
  So I went out and picked up one of these:
</p>

<img src="https://s3-us-west-2.amazonaws.com/extropic-studios/psyche/journal/DSC_0005.jpg">

<p>
  Not fancy, but it works. I wanted to try a pay-as-you-go plan because I don’t
  use my phone much to begin with and I wondered if it would be cheaper overall.
  Then I found out that Tracfone is basically a huge scam and overcharges by an
  incredible amount, so it’s almost impossible to go a month without spending
  more than you would spend on an unlimited plan with another provider.
</p>

<p>
  It’s not a complete loss though because a phone is a phone is a computer and
  so there is still something that can be done with it. I’d like to find out how
  much a simple “dumbphone” can be hacked and extended. There’s very little
  documentation about this out there currently, which makes the challenge even
  more fun.
</p>

<p>
  My goals with the project are threefold:
</p>

<ul>
  <li>Find out how to SIM-unlock the LG 440G</li>
  <li>Investigate the possibility of extending or replacing the built-in OS with open source components</li>
  <li>Document as much of the hardware and software as possible for future explorers to build on</li>
</ul>

<p>
  I started tonight by building <a href="https://www.extropicstudios.com/hack-ohm/lg440g.html">a project page</a>,
  which I’ll keep updated with current progress. I began by listing the possible
  vectors through which it might be possible to bypass the system security and
  load some of my own code on the device. The obvious place to start was J2ME. A
  few DuckDuckGo searches and I found that J2ME has some pretty serious exploits
  that should be a good starting place to get arbitrary, root-level code
  running. The version of J2ME on the LG is ancient, and almost certainly
  contains all the exploits I read about. I mirrored the most interesting
  documents I found on the project page.
</p>

<p>
  So now I know how to exploit the device... but there’s a problem. I have no
  idea how to actually compile something for a J2ME version that old.
  <a href="http://www.oracle.com/technetwork/java/embedded/javame/javame-sdk/downloads/index.html">Oracle has the J2ME SDKs for download on their site</a>,
  but they seem to be Windows-only. I then found a helpful Stack Overflow post
  that led me an <a href="http://www.oracle.com/technetwork/java/javasebusiness/downloads/java-archive-downloads-javame-419430.html#sun_java_wireless_toolkit-2.5.2_01b-oth-JPR">even more ancient, decrepit, and sketchy list of links here</a>
  which looks like it has what I need. Figuring out what things on this list are
  relevant, and how to get it to compile on a modern system is the next
  challenge I will be exploring.
</p>
