
<h1>30 May 2015</h1>

<p>
  Social technology, fundamentally, is an effort to create a simulation that
  allows the replication and automation of human experiences. When we spend
  time with friends, it is a happy and bonding experience. We wish that we
  could experience that feeling forever, but we must separate and go to work,
  school, or whatever else it is that occupies our time. We know that we will
  be able to come back together and experience it again, but that is not always 
  enough. So with technology we try to create omnipresent connections; with
  Facebook none of our friends are ever more than a screen-tap away, and yet we 
  still feel alone.
</p>

<p>
  Then we believe the problem lies with the technology, and not with us, and so 
  we try to make the technology better, more real, live video chat from
  anywhere on the planet, virtual reality, and so on and so on. If the
  replication of the original experience becomes perfect, we will have no need
  for the original and we can discard it. We have not done so yet. It is even
  possible that the simulation will exceed the original and become even more
  “real” or meaningful or whatever it was that we found so dear about the
  original.
</p>

<p>
  But I think that there will always be a part of us that knows when a
  simulation is a simulation. At some level of our consciousness we will know
  that there was an original experience which our current experience is only a
  copy of, and even if we believe that the copy is “better” than the original
  there will be some part of us that will still wonder: “What am I missing?”
  That part of us will desire the original. Because our construction of the
  copy was done out of that same desire: the original was such an enjoyable
  experience we wanted to recreate it again and again. This desire is a 
  grasping desire, trying to hold onto fragments of things that cannot be held
  onto. So with any copy we will always be dissatisfied.
</p>

<p>
  Seeking out “original and authentic” experiences is something that I see
  happen a lot in my generation. But again, this is driven by that same desire. 
  The truth is that these experiences are happening all the time. They cannot
  be copied, sought out, or held onto.
</p>


